[submodule "_build/includes/builder"]
	path = _build/includes/builder
	url = https://github.com/web-effect/modx-packageBuilder
[submodule "assets/components/effectshop/effect-lib"]
	path = assets/components/effectshop/effect-lib
	url = https://github.com/der-leksey/effect-lib.git
